<form class="centered-form">
    <button mat-mini-fab [style.visibility]="searchQuery ? 'visible' : 'hidden'" class="btn-clear"
        (click)="clearInput()" type="button">
        <mat-icon>clear</mat-icon>
    </button>
    <input type="text" [(ngModel)]="searchQuery" name="searchQuery" class="styled-input"
        placeholder="Enter movie title">
    <button mat-raised-button class="btn-search" (click)="searchMovies(searchQuery)">
        <mat-icon>search</mat-icon>
        Search
    </button>
</form>
<div class="centered-form">
    <button mat-mini-fab [style.visibility]="selectedGenre? 'visible' : 'hidden'" class="btn-clear"
        (click)="clearGenre()" type="button">
        <mat-icon>clear</mat-icon>
    </button>
    <mat-select placeholder="Select Genre" [(ngModel)]="selectedGenre" name="selectedGenre" class="styled-input-select">
        <mat-option *ngFor="let genre of genres" [value]="genre.id">{{ genre.name }}</mat-option>
    </mat-select>
    <button mat-raised-button class="btn-filter" (click)="onGenreSelect()">
        <mat-icon>movie_filter</mat-icon>
        Filter
    </button>
</div>

<div class="movie--list--container">
    <ng-container *ngFor="let movie of searchResults">
        <app-movie [movie]="movie"></app-movie>
    </ng-container>
</div>